## World Bank data with Dash

#### Udemy course:
- [Data Visualization in Python (Mplib, Seaborn, Plotly, Dash)](https://www.udemy.com/course/data-visualization-in-python/)

In [1]:
import dash
from dash import dcc
from dash import html
from dash.dependencies import Input, Output
from jupyter_dash import JupyterDash
##from dash import jupyter_dash
import plotly.express as px
import plotly.graph_objects as go
import plotly.io as pio

## Worldbank data

In [2]:
wb_data = px.data.gapminder()
wb_data.head(16)

,country,continent,year,lifeExp,pop,gdpPercap,iso_alpha,iso_num
0,Afghanistan,Asia,1952,28.801,8425333,779.445314,AFG,4
1,Afghanistan,Asia,1957,30.332,9240934,820.853030,AFG,4
2,Afghanistan,Asia,1962,31.997,10267083,853.100710,AFG,4
3,Afghanistan,Asia,1967,34.020,11537966,836.197138,AFG,4
4,Afghanistan,Asia,1972,36.088,13079460,739.981106,AFG,4
5,Afghanistan,Asia,1977,38.438,14880372,786.113360,AFG,4
6,Afghanistan,Asia,1982,39.854,12881816,978.011439,AFG,4
7,Afghanistan,Asia,1987,40.822,13867957,852.395945,AFG,4
8,Afghanistan,Asia,1992,41.674,16317921,649.341395,AFG,4
9,Afghanistan,Asia,1997,41.763,22227415,635.341351,AFG,4
10,Afghanistan,Asia,2002,42.129,25268405,726.734055,AFG,4
11,Afghanistan,Asia,2007,43.828,31889923,974.580338,AFG,4
12,Albania,Europe,1952,55.230,1282697,1601.056136,ALB,8
13,Albania,Europe,1957,59.280,1476505,1942.284244,ALB,8
14,Albania,Europe,1962,64.820,1728137,2312.888958,ALB,8
15,Albania,Europe,1967,66.220,1984060,2760.196931,ALB,8

In [3]:
app = JupyterDash(__name__)
#app = Dash(__name__)
app.title = "World Bank data"

c:\Users\Vizsy.Istvan\Development\Data_analyst_practices\venv\Lib\site-packages\dash\dash.py:556: UserWarning:

JupyterDash is deprecated, use Dash instead.
See https://dash.plotly.com/dash-in-jupyter for more details.

In [4]:
title = html.H1("World Bank data")

### Evolution of GDP and Life expectancy by region

In [12]:
@app.callback(Output("scatter_graph", "figure"), [Input("scatter_dropdown", "value")])
def select_region(region):
    if region:
        subset = wb_data.query(f"continent == '{region}'")
    else:
        subset = wb_data

    fig = px.scatter(subset, x="gdpPercap", y="lifeExp", size="pop", color="continent", animation_frame="year",
           hover_name="country", range_y=(20, 90), size_max=60, log_x=True)
    
    return fig

In [6]:
scatter_header = html.H4("GDP and Life expectancy by region")

In [7]:
scatter_dropdown = dcc.Dropdown(
    id="scatter_dropdown",
    options=[
        {"label": "Worldwide", "value": ""},
        {"label": "Europe", "value": "Europe"},
        {"label": "Americas", "value": "Americas"},
        {"label": "Asia", "value": "Asia"},
        {"label": "Africa", "value": "Africa"},
        {"label": "Oceania", "value": "Oceania"}
    ],
    value=""
)

In [8]:
#scatter_graph = dcc.Graph(figure=fig)
scatter_graph = dcc.Graph(id="scatter_graph")

In [9]:
scatter_row = html.Div(
    children=[
        scatter_header,
        scatter_dropdown,
        scatter_graph
    ]
)

### Evolution by country

### Evolution trens by country

### Population by country

## Create the dashboard

In [10]:
app.layout = html.Div(
    children=[
        title,
        scatter_row
    ]
)

In [11]:
app.run_server(debug=True, mode="inline")